<div class="container">
  <div class="row">
      <% @ingredients.each do |ingredient| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://unsplash.it/200/300/?random);">
          <div class="card-category"><h2><%= ingredient.name.capitalize %></h2></div>
            <p><%= link_to "Details", ingredient_path(ingredient) %>        </p>
        </div>
      </div>
      <% end %>
  </div>
</div>
